<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDJ0E9Y7iVw3Bx-7h1IhBUw1YXCMzQzMps</string>
	<key>GCM_SENDER_ID</key>
	<string>276280029398</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.candidsocial.journal</string>
	<key>PROJECT_ID</key>
	<string>jeraldjournal</string>
	<key>STORAGE_BUCKET</key>
	<string>jeraldjournal.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:276280029398:ios:056cad50e2bda65cdf9977</string>
</dict>
</plist>